body {
    font-family: 'Far.Yekan' !important;
    font-size: 24px;
    height: 100%;
    background-color: #ffffff !important;
}

a:hover {
    text-decoration: none !important;;

}

a {
    color: black !important;
}

ul {
    list-style: none;
}

/********************************  Font   ********************************/
@font-face {
    font-family: 'Far.Yekan';
    src: url('http://sabanet.com/fonts/Far_Yekan.eot');
    src: local('☺'),
    url('http://sabanet.com/fonts/Far_Yekan.woff') format('woff'),
    url('http://sabanet.com/fonts/Far_Yekan.ttf') format('truetype'),
    url('http://sabanet.com/fonts/Far_Yekan.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*********************************  For Show in Mobile Mode********************************/
@media (max-width: 767px) {
    .socialMediaIcons, .fastContact {
        text-align: center !important;
    }
}

/********************************  HomePage Css ********************************/

/*--------------------Top Heade Css--------------------*/
#topHead {
    background-color: #262626;
    height: auto;
    padding: 5px 0;

}

.socialMediaIcons {
    text-align: left;
}

.socialIcon {
    margin-right: 5px;
    padding: 5px 0;
    display: inline-block;
}

.fastContact {
    color: white;
    direction: rtl;

}

.fastContact > p {
    padding: 5px 0;
    margin: 0;
    display: inline-block;
}

/*--------------------Top Menu Css--------------------*/
#topMenu {
    padding: 15px 0;
    border-bottom: 1px solid gray;
    box-shadow: 0px 2px 5px -3px #000;
    background-color: #f8f9fa;
}

nav {
    padding: 0;
    float: right;
    direction: rtl;
}

.dropdown-menu-custom {
    min-width: 15rem !important;
}

.loginRegisterBtn {
    width: 90%;
    margin: 10px auto;
    text-align: center;
}

.loginRegisterBtn > a {
    background: rgb(63, 154, 229);;
    color: #ffffff !important;
}

.loginRegisterBtn > a:hover {
    background: rgb(63, 154, 229);;
    color: #ffffff !important;
}

p.dropdown-item {
    display: inline !important;
}

.registerLink {
    color: #008cff !important;
    border-bottom: dotted;
    padding: 0 5px;
}

.profileLink, .logoutLink, .ordersLink {
    background-size: 17px !important;
    padding-right: 35px !important;
}

.profileLink {
    background: url(../images/frontend/user.png) right 10px center no-repeat;

}

.logoutLink {
    background: url(../images/frontend/logout.png) right 10px center no-repeat;

}

.ordersLink {
    background: url(../images/frontend/cart.png) right 10px center no-repeat;

}

/*--------------------Slider One Css--------------------*/
.sliderOne {
    margin-top: 2rem;
}

.rightSideOfSliderOne_content {
    padding: 10px 5px !important;
}

/*--------------------First Content--------------------*/
.firstContent {
    margin-top: 40px;
}

.ourService {
    direction: rtl;
}

.ourService > img {
    width: 80px;
    height: 80px;
}

.ourService > h3 {
    margin-top: 10px;
    direction: rtl;
    font-size: 1.3em;
    position: relative;
}

.ourService > h3:after {
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -10px;
    height: 1px;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#a4a4a4), to(transparent));
    background: -o-linear-gradient(left, transparent, #a4a4a4, transparent);
    background: linear-gradient(90deg, transparent, #a4a4a4, transparent);
    z-index: 10;
}

.ourService > p {
    margin-top: 35px;

}

.adslSupportCheck > form {
    margin-top: 35px;
}

#numberCheckBtn {
    margin-top: 20px;
}

/*--------------------Our Services After FirstContent--------------------*/
.ourServices {
    background: #e8e8e8;
    text-align: center;
    margin-top: 40px;
    padding: 25px 0;
    height: auto;
}

.OurServiceContent {
    padding: 65px 0;
}

.OurServiceContent > p {
    font-size: 1em;
    direction: rtl;
    color: #555;
}

.OurServiceContent > img {
    width: 70px;
    height: 70px;
}

.ourServicesTitle > span {
    margin-bottom: 20px;
    display: inline-block;
    color: #999;

}

.ourServicesTitle > span::after {
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 5px;
    height: 1px;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#a4a4a4), to(transparent));
    background: -o-linear-gradient(left, transparent, #a4a4a4, transparent);
    background: linear-gradient(90deg, transparent, #a4a4a4, transparent);
    z-index: 10;
}

.ourNewsTitle {
    margin-bottom: 40px;
}

/*--------------------Our News After OurService--------------------*/
.ourNews {
    text-align: center;
    padding: 25px 0;
}

time > i {
    margin-left: 5px;
}

.OurNewsContent {
    text-align: right;
}

.OurNewsContent > img {
    width: 70px;
    height: 70px;
}

.OurNewsContent > a > p, time {
    color: #999 !important;
}

.ourNewsTitle > span {
    margin-bottom: 20px;
    display: inline-block;
    color: #999;
}

.ourNewsTitle > span::after {
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 5px;
    height: 1px;
    background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#a4a4a4), to(transparent));
    background: -o-linear-gradient(left, transparent, #a4a4a4, transparent);
    background: linear-gradient(90deg, transparent, #a4a4a4, transparent);
    z-index: 10;
}

.ourNewsTitle {
    margin-bottom: 40px;
}

/*--------------------Footer---------------------------*/
footer {
    background-color: #242c39;
    height: auto;
    margin-top: 40px;
    border-top: 5px solid #28aff8;
    color: #c5c5c5;
}

.firstFooterContent {
    margin: 40px 0 20px 0;
    border-bottom: 1px solid #606060;
}

.leftFirstFooterContent > ul > li > a {
    color: #cbcbcb !important;
}

.leftFirstFooterContent > ul > li {
    padding: 8px 0;
}

.rightFirstFooterContent {
    float: right;
    padding: 20px 0 0 0;
}

.rightFirstFooterContent > ul {
    float: left;
    padding: 0;
}

.rightFirstFooterContent > ul > li {
    float: left;
    margin-left: 10px;
}

.rightFirstFooterContent > ul > li > a > img {
    width: 40px;
    height: 40px;
}

.rightFirstFooterContent > form > input {
    text-align: right;

}

.leftSecondFooterContent > ul {
    float: right;
}

.leftSecondFooterContent > ul > li {
    float: right;
    margin-left: 20px;

}

.leftSecondFooterContent > ul > li > a {
    color: #bfbfbf !important;
}

.leftSecondFooterContent, .copyrightFooter {
    float: right;
}

/********************************  Page one Css ********************************/
.breadcrumbContent > a {
    margin-left: 15px;
    position: relative;
}

.breadcrumbContent > a > i {
    display: inline-block;
    position: absolute;
    left: -10px;
    top: 4px;

}

.breadcrumbLine {
    padding: 10px 0;
    border-bottom: 1px solid #d4d4d4;
}

/*.breadcrumbContent > a:after {*/
/*content: " ";*/
/*display: block;*/
/*position: absolute;*/
/*top: 2px;*/
/*left: -13px;*/
/*background: url("../images/socialIcon/instagram.svg");*/
/*width: 15px;*/
/*height: 15px;*

/*}*/

/*Post Content*/
.mainContent {
    margin-top: 25px;
}

#postTitle {
    font-size: 2em !important;
    margin-bottom: 45px;
}

.leftSideOfContent {
    border: 1px solid #ececec;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 1px 1px #e0dada;

}

.rightSideContent {
    border-left: 1px solid #d8d8d8;
    padding: 12px 25px !important;
}

.leftSideContent {
    padding: 10px !important;
}

.leftSideContent > p {
    margin: 0 !important;
}

/**/
.ourServiceInSide {

    margin-top: 25px;

}

.ourServiceSideTitle {
    background-color: #f26322;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
}

.ourServiceSideTitle > p {
    padding: 15px;
    margin: 0 !important;
}

.ourServiceSideContent > ul > li:not(:last-child) {
    border-bottom: 1px solid #d8d8d8;
}

.ourServiceSideContent {
    border: 1px solid #d8d8d8;
    border-radius: 0 0 5px 5px;
}

.ourServiceContentTitle {
    display: inline-block;
    width: 90%;
    padding: 10px;
    color: #403c3c !important;
}

.ourServiceContentSign {
    float: left;
    display: inline-block;
    width: 10%;
    text-align: center;
    padding: 10px;
    border-right: 1px solid #d8d8d8;
    color: #817c7c;
    cursor: pointer;
}

.ourServiceContentSign:hover, .ourServiceContentTitle:hover {
    background-color: #efefef;
}

.childLi {
    padding: 0;
    background: #efefef;

}

.childLi > li {
    padding: 10px;

}

/********************************  Login Page Css ********************************/
.loginContainer {
    margin-top: 35px;
}

.loginContent {
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 0 3px 1px #cdc9c9;
}

#loginIcon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

#loginTitle {
    font-size: 1.1em;

    padding: 15px 0;

    color: #575757;

}

.MobileInput {
    background: url(../images/frontend/person-icon.png) right 10px center no-repeat;
    background-size: 16px 16px;
    padding: 10px 40px 10px 8px !important;
}

.PassInput {
    background: url(../images/frontend/lock-icon.png) right 10px center no-repeat;
    background-size: 16px 16px;
    padding: 10px 40px 10px 8px !important;
}

.remmemberMe {
    color: #535353;
}

.resetPasswordInput {
    background: url(../images/frontend/lock-icon.png) right 10px center no-repeat;
    background-size: 16px 16px;
    padding: 10px 40px 10px 8px !important;
}

#remembermeLink {
    color: #0f00b3 !important;
    font-size: 13px;
}

/*Register Adsl from User */
.adslRegisterBlock {
    margin-top: 35px;
}

.adslRegisterFormWrap {
    margin: 35px auto;
    width: 30%;
    height: 300px;
    position: relative;

}

/*Nice Select Overide RTl*/
.nice-select {
    text-align: right !important;
}

.nice-select:after {
    left: 12px !important;
}

.list {
    width: 100% !important;
}

.list > li {
    text-align: right !important;
}

/*Waiting show for Ajax Request*/
.waiting {
    border: 1px solid #ececec;
    box-shadow: 0px 15px 64px 6px #7e7e7e;
    position: absolute;
    z-index: 1;
    background: white;
    width: 200px;
    right: 20%;
    height: 109px;
    border-radius: 4px;
}

/* Horizental line for register Adsl of User STep*/

.stepDiv {
    margin-top: 20px;
    height: 50px;
    text-align: center;

}

.stepDiv > i {
    width: 32px;
    height: 32px;
    margin: 0 auto 10px;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: relative;
    border: 1px solid #403c3c;

}

.stepDiv:not(:last-child):before {
    content: "";
    position: absolute;
    top: 16px;
    border-top: 2px dotted #322c2c;
    width: 100%;
}

.stepDiv > i.activeStep {
    background-color: #00c700 !important;
    border: 1px solid #00c700 !important;
}

.stepRowOrg {
    height: 150px;
    direction: rtl;
}

.currentStep > i {
    background: #0000f5 !important;
    border: none !important;
}

.fa-check {
    display: none !important;
}
.completeStep>i>i{
    display: block !important;
    margin-top: 7px;
    color: #FFFFFF;

}.completeStep>i{
     background: #0000f5 !important;

 }
/*Services Of Orator Show */
#opratorSelectTitle {
    line-height: 2.5;
}

.serviceShow {
    margin-top: 35px;
}

.serviceTitle {
    background: #da1f26;
    padding: 10px;
    color: white;
    border-radius: 3px;
    border: 0;
}

.serviceTitle > span {
    display: block;
}

.titleOfEquipment {
    border-bottom: 1px solid #eed1d3;
    margin: 0 0 40px 0;
    padding: 0 !important;
}

.titleOfEquipment > p {
    border: 1px solid #da1f26;
    display: inline-block;
    padding: 10px;
    margin: 0;
    background: #da1f26;
    color: white;
    border-radius: 5px 5px 0 0;
}

.serviceWrap {
    text-align: center !important;
    direction: rtl;
}

.periodOfService {
    font-size: 14px;
    color: #626262;
    padding: 10px 0;
}

.descOfService {
    padding: 0 20px;
}

.serviceContent {
    display: inline-block;
    border: 1px solid #d7d7d7;
    width: 100%;
}

.selectBtnOfService {
    border-radius: 0 !important;
}

.imageOfService {
    width: 100%;
}

.titleOfService {
    font-size: 15px;
    margin: 25px;

}

.periodOfService {
    font-size: 14px;
    color: #626262;
    padding: 20px;
    border-bottom: 1px solid gainsboro;
    margin: 0 30px 30px 30px;

}

/*Button in adsl order*/
.next > a {
    color: #ffffff !important;
}

.next > a:before {
    border: solid #ffffff;
    border-width: 0 0 3px 3px;
    padding: 3px;
    content: '';
    display: inline-block;
    transform: rotate(45deg);
}

.return > a {
    color: #747474 !important;
}

.return > a:after {
    border: solid #747474;
    border-width: 0 0 3px 3px;
    padding: 3px;
    content: '';
    display: inline-block;
    transform: rotate(-135deg);
}
.userInfoFOrBuyAdsl{
    border: 1px solid #dadada;
    background-color: #f9f9f9;
    padding: 25px;
}


@media (max-width: 760px) {
    .serviceWrap {
        margin-bottom: 20px;
    }
}
